<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>applewatch_mapping WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>applewatch_mapping WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>applewatch_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1755144F1F60806000D81EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>175514631F60806100D81EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1755146E1F60806100D81EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>175514771F60806100D81EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
